.signup-form {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #a7def3;
  border-radius: 12px;

}
.signup-form label {
  display: block;
  margin: 5px;
  color: #2b2a2a;
}

.signup-form input {
  width: 300px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.signup {
  margin:15px 70px;
  padding: 8px 15px; 
  border: none;
  border-radius: 7px;
  font-size: 13px;
  background-color: #083e78;
  color: white;
}